/* global.css */
:root {
  --font-kr: "Gowun Dodum", "Noto Sans KR", "Apple SD Gothic Neo", "Segoe UI",
    Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-kr);
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center; /* 세로 중앙 */
  justify-content: center; /* 가로 중앙 */
}

.container {
  display: flex;
  flex-direction: column;
  background-color: beige;
  height: 80vh;
  width: 80vw;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header {
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.alarm-input {
  display: flex;
  gap: 10px;
}

.alarm-input {
  display: flex;
}

.alarm-input button {
  padding: 10px;
  font-family: var(--font-kr);
  border-radius: 10px;
  border: none;
}

.alarm-input button:hover {
  cursor: pointer;
  background-color: lightgray;
}

#timer {
  border: 1px solid lightgray;
  color: brown;
  font-size: xx-large;
  font-weight: bold;
  padding: 20px 100px;
  background-color: aliceblue;
}
